@mixin space-between {
    display: flex;
    justify-content: space-between;
}

@mixin column {
    display: flex;
    flex-direction: column;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin category($colorMain, $colorSec) {
    .category-result {
        padding: 10px;
        border-radius: 100%;
        @include center;
        background-color: $colorSec;
        border: solid $colorMain 1px;

        img {
            max-width: 40px;
            max-height: 40px;
            font-size: 10px;
        }
    }

    .numbers {
        h3 {
            color: $colorMain;
            text-align: end;
        }
    }
}

#overview {
    margin-top: 50px;
    width: 100%;
    @include column;

    h3 {
        margin: 0;
    }

    #results {
        @include space-between;

        .total {
            @include center;
            .numbers {
                margin-left: 50px;
                display: flex;
                @include column;

                h3 {
                    margin: 0;
                }

                h6 {
                    margin: 0;
                }
            }
        }

        #not-petted {
            @include category(red, rgba(255, 0, 0, 0.05));
        }

        #skipped {
            @include category(gray, rgba(128, 128, 128, 0.05));
            img {
                position: relative;
                left: 2px;
            }
        }

        #petted {
            @include category(green, rgba(0, 128, 0, 0.05));
        }
    }

    #restart {
        margin-top: 80px;
        @include column;
        align-items: center;

        button {
            width: 250px;
            font-size: 13px;
            font-weight: 550;
            padding: 15px 10px;
            margin-bottom: 5px;
            background-color: inherit;
            border: none;

            &:first-child {
                border: none;
                background-color: darkorange;
                color: white;
            }

            &:last-child {
                border: solid black 1.5px;
            }

            &:first-child:hover {
                background-color: rgba(255, 140, 0, 0.8);
            }

            &:last-child:hover {
                background-color: rgb(245, 245, 245);
            }

            &:active {
                transform: translateY(1px);
            }
        }
    }
}
