@mixin space-between {
    display: flex;
    justify-content: space-between;
}

@mixin column {
    display: flex;
    flex-direction: column;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#overview {
    margin-top: 50px;
    width: 100%;
    @include column;

    h3 {
        margin: 0;
    }

    #results {
        @include space-between;

        .total {
            @include space-between;
            @include center;

            .category-result {
                padding: 10px;
                border: solid red 1px;
                border-radius: 100%;
                @include center;

                img {
                    cursor: pointer;
                    max-width: 40px;
                    max-height: 40px;
                    font-size: 10px;
                }
            }

            .numbers {
                margin-left: 50px;
                display: flex;
                @include column;

                h3 {
                    margin: 0;
                }

                h6 {
                    margin: 0;
                }
            }
        }
    }
}
