@mixin center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin border-top-radius {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

@mixin upper {
    width: 450px;
    height: 350px;
    max-width: 450px;
    max-height: 450px;
    border: solid lightgrey 1px;
    border-bottom: none;
    @include border-top-radius;
    @media screen and (max-width: 490px) {
        width: 90%;
    }
}

#rate {
    @include center-column;
    margin-top: 50px;
    width: fit-content;

    .carousel-root {
        @include upper;
    }

    .loading {
        @include upper;
    }

    #display-cat {
        @include upper;
        object-fit: cover;
    }

    #under {
        @include center-column;
        box-sizing: border-box;
        border: solid lightgrey 1px;
        border-top: none;
        width: 100%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        @media screen and (max-width: 490px) {
            width: 90%;
        }

        h6 {
            margin: 0;
            margin-top: 5px;
            color: gray;
        }

        #actions {
            margin: 15px;
            width: 100%;
            display: flex;
            justify-content: space-evenly;

            #dont-pet {
                color: red;
                div {
                    background-color: rgba(255, 0, 0, 0.05);
                    border: solid red 1px;
                }
            }

            #skip {
                color: gray;
                div {
                    background-color: rgba(128, 128, 128, 0.05);
                    border: solid gray 1px;

                    img {
                        position: relative;
                        left: 2px;
                    }
                }
            }

            #pet {
                color: green;
                div {
                    background-color: rgba(0, 128, 0, 0.05);
                    border: solid green 1px;
                }
            }
        }
    }
}

.slider {
    height: 350px;

    .slide {
        @include border-top-radius;
        img {
            @include border-top-radius;
            height: 100%;
            object-fit: cover;
        }
    }
}
