@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action {
    @include center;
    flex-direction: column;
    width: 100px;

    .action-button {
        @include center;
        padding: 10px;
        border-radius: 100%;
        cursor: pointer;

        img {
            max-width: 40px;
            max-height: 40px;
            font-size: 10px;
        }

        img:active {
            transform: scale(0.9);
        }
    }

    p {
        opacity: 0;
        margin: 0;
        transition: opacity 0.5s;
    }

    &:hover {
        p {
            opacity: 100;
            top: initial;
        }
    }
}
