body {
    margin: 0;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    animation: homeLoad 5s forwards;
}

@keyframes homeLoad {
    0% {
        overflow: hidden;
    }
    100% {
        overflow: initial;
    }
}

@media screen and (max-width: 335px) {
    html,
    body {
        overflow: hidden;
    }
}
